<!DOCTYPE html>
<html lang="UTF-8">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>웹소켓 테스트</title>
</head>
<body>
  <div>
    <input type="text" id="userId">
    <button type="button" onclick="sendM(1)">가입</button>
  </div>

  <div>
    <input type="text" id="message">
    <button type="button" onclick="sendM(2)">전송</button>
  </div>

  <div id="msg"></div>
</body>
<script>
  const webSocket = new WebSocket("ws://localhost:3008");
  webSocket.onopen = function () {
      console.log('서버와 웹 소켓 연결됨');
  };
  webSocket.onmessage = function (event) {
      try {
        var parseJson = JSON.parse(event.data);
        console.log(parseJson.id);
      } catch {
        console.log(event.data);
      }
      var d = document.getElementById('msg');
      var p = document.createElement('p');
      p.innerText = event.data;
      d.appendChild(p);
      // webSocket.send('클라이언트에서 서버로 답장을 보냅니다.');
  }
  
  sendM = (i) => {
    data = {};
    if(i == 1) {
      data.type = "createId";
      data.content = document.getElementById('userId').value;
    }
    else {
      data.type = "message";
      data.content = document.getElementById('message').value;
    }
    data = JSON.stringify(data);
    webSocket.send(data);
  }
</script>
</html>